$emojiList: 'amphora' 'avocado' 'baby_chick' 'balloon' 'boar' 'butterfly' 'coffin' 'crying_face' 'door'
  'face_blowing_a_kiss' 'face_with_medical_mask' 'face_with_rolling_eyes' 'love_you_gesture' 'thumbs_up' 'thumbs_down'
  'victory_hand';

@each $emoji in $emojiList {
  .#{$emoji}_in_message {
    margin: 5px;
    background: url('../emoji/#{$emoji}.png?sprite') no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
  }

  .#{$emoji}_in_chat {
    margin: 5px;
    background: url('../emoji/#{$emoji}.png?sprite') no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
  }

  .#{$emoji}_in_menu {
    margin: 5px;
    background: url('../emoji/#{$emoji}.png?sprite') no-repeat;
    background-size: 40px;
    width: 40px;
    height: 40px;
  }
}

.emoji_window {
  position: absolute;
  padding: 5px;
  right: 30px;
  bottom: 60px;
  border-radius: 10px;
  background-color: rgb(116, 117, 119);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-grow: 1;
}
