.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.profileAnim {
  animation: slideFromAbove 600ms ease;
}

.createUserAnim {
  animation: slideFromRight 600ms ease;
}

.createChatAnim {
  animation: slideFromBelow 600ms ease;
}

@keyframes slideFromAbove {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
  }

  100% {
    transform: translate(0%, 0%) scale(1, 1);
  }
}

@keyframes slideFromBelow {
  0% {
    transform: translate(50%, 50%) scale(0, 0);
  }

  100% {
    transform: translate(0%, 0%) scale(1, 1);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.horizontal {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
}

.vertical {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 50%;
}

.horizontalPhoto {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.photo {
  overflow: hidden;
  border-radius: 50%;
  margin: 50px 0;
}

.pic {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.input {
  border-width: 0;
  outline: none;
  word-break: break-all;
  font-size: 20px;
  background-color: rgb(100, 101, 102);
  color: rgb(255, 255, 255);
  line-height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.inputName {
  margin-bottom: 20px;
}

.inputTag {
  margin: 20px 0;
}

.inputBio {
  margin-top: 20px;
  margin-bottom: 40px;
  height: 200px;
  border-radius: 10px;
}

.inputPassword {
  flex-grow: 1;
}

.interactiveText {
  cursor: pointer;
  text-align: center;

  &:hover,
  &:focus {
    color: rgb(240, 240, 240);
    opacity: 0.7;
    font-size: 23.5px;
  }
}

::placeholder {
  color: rgb(221, 221, 221);
  opacity: 0.8;
}

.empty {
  flex-basis: 5%;
  flex-shrink: 0;
}
