.mine {
  margin-right: 5px;
  align-self: flex-end;
  background: rgb(20, 20, 20);
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 0.8em;
  min-width: 60px;
}

.image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit: contain;
}
