.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  animation: slideFromAbove 600ms ease;
}

@keyframes slideFromAbove {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.horizontal {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
}

.vertical {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-basis: 50%;
}

.horizontalPhoto {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.photo {
  overflow: hidden;
  border-radius: 50%;
  margin: 50px 0;
}

.pic {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.input {
  border-width: 0;
  outline: none;
  word-break: break-all;
  font-size: 20px;
  background-color: rgb(112, 113, 114);
  color: rgb(255, 255, 255);
  line-height: 30px;
  padding: 5px;
  text-align: center;
}

.inputName {
  margin-bottom: 30px;
  border-radius: 5px;
}

.inputTag {
  margin: 30px 0;
  border-radius: 5px;
}

.inputBio {
  margin-top: 30px;
  height: 200px;
  border-radius: 10px;
}

::placeholder {
  color: rgb(221, 221, 221);
}
